/* {
  border: 1px solid red !important;
}/**/

body{
    background-color: #f4f4f4;
    font-family: 'Libre Baskerville',serif;
}

header{
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

.header-name{
    order:2;
    width: 100%;
}

.logo{
    order:1;
    width: 100%;
}

.logo img{
    display: block;
    height: 100%;
    width: auto;
    margin:auto;
}


.container{
    margin-top:10px;
}
.press{
    height:100%;
}

.press img{
    width:100%;
}
.row{
    margin-top:10px;
    margin-bottom:10px;
}
.aboutMe img{
    width:100%;
}

.footer{
    text-align:center;
    font-size: 15px;
}

.modal-body img{
    width: 100%;
}

.button{
    cursor:pointer;
    margin-bottom:20px;
}

.hireRow{
    padding-top:10px;
    padding-bottom:10px;
}

.hireImg{
    width:100%;
    height:auto;
}


/**
*  FEATURED WORKS BUTTONS SEPARATED BY ORDER
*
*.fw1{
*    padding-right: 0px;
*}
*
*.fw2{
*    padding-right: 7px;
*    padding-left: 8px;
*}
*
*.fw3{
*    padding-left: 0px;
*}
*
*/


hr{
    border-color:black;
    border-width:1px;
}

.headRow hr{
    border-width:2px;
}


@media screen and (min-width: 345px){
    header{
    }
}


@media screen and (min-width: 768px){
    header{
    }

    .logo img{
        margin:0px;
        margin-top: 10px;
    }

    .logo{
        width: 30%;
    }
    .header-name{
        width: 70%;
    }

}



