/* ********* TEXTS STYLE ****************/

body{
    font-family: 'Libre Baskerville',serif;
}

.header-name h1{
    text-align: center;
}
.header-name h2{
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
    margin:5px;
}

.press h2{
    font-size: 1em;
    margin-right: 30px;
    letter-spacing:2px;
    position: absolute;
    bottom: 8px;
    left: 30px;
    text-align: center;
    color:white;
}

.aboutMe h1{
    margin-top:70px;
    text-align: center;
}

.aboutMeText p{
    text-align: justify;
    font-size: 1em;
}

.aboutMeText h2{
    font-size: 1.8em;
    margin-bottom:15px;

}



@media screen and (min-width: 768px){
    .aboutMe h1{
        text-align: left;
    }


    .aboutMeText p{
        font-size: 1.2em;
    }

    .aboutMeText h2{
        font-size: 2em;

    }

    .press h2{
        font-size: 1.25em;
    }
    .aboutMeText p{
        font-size: 1em;
    }
    .aboutMeText h2{
        font-size: 1.8em;
        margin-bottom:10px;
    }

    .header-name h1{
        text-align: right;
    }
    .header-name h2{
        text-align: right;
    }

}

@media screen and (min-width: 992px){
    .aboutMeText p{
        font-size: 1.2em;
    }
    .aboutMeText h2{
        font-size: 2em;
        margin-bottom:15px;
    }
    .press h2{
        font-size: 1.5em;
    }
}


@media screen and (min-width: 1200px){
    .aboutMeText p{
        font-size: 1.25em;
    }
    .aboutMeText h2{
        font-size: 2.3em;
        margin-bottom:20px;
    }
}
